/env*/
/.idea
__pycache__/
*.py[cod]
*.cache
.pytest_cache/
.coverage.*
/.coverage
/htmlcov/
/build/
/dist/
/sandbox/
/demo.py
*.egg-info
/docs/_build/
/.mypy_cache/
.vscode/
.venv/
/.auto-format
/site/
/.live/
/assets/.libs/
/assets/build/
/TODO.md
/assets-gist/
