@import "DL/bootstrap-scss/functions";
@import "DL/bootstrap-scss/variables";

$code-font-size: 100%;
$code-background: #282a36;
$code-color: #f8f8f2;
$font-family-monospace: 'Ubuntu Mono', monospace;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;
