{% extends 'base.jinja' %}

{%- macro show_print(statements) -%}
    {%- for statement in statements -%}
      <pre class="print-statement">
        {%- if statement|is_simple %}
          {%- for arg in statement.args -%}
            {{ arg.content }}{{ ' ' }}
          {%- endfor %}
        {%- else %}
          {%- for arg in statement.args -%}
{{ highlight(arg.format, arg.content) }}
{% endfor -%}
        {% endif -%}
      </pre>
    {%- endfor -%}
{%- endmacro -%}

{% block main %}
  {%- for section in sections %}
    <section class="{{ section.name }}">
      {% if section.title -%}
        <h1>{{ section.title }}</h1>
      {% endif -%}

      <div>
        {% if section.html -%}
          {{ section.html|safe }}
        {% elif section.print_statements -%}
          {{ show_print(section.print_statements) }}
        {% elif section.code -%}
          {%- for chunk in section.code -%}
            {%- if chunk.format -%}
              <pre class="code-block">
                {{- highlight(chunk.format, chunk.content) -}}
              </pre>
            {%- else -%}
              {{ show_print(chunk) }}
            {%- endif -%}
          {%- endfor -%}
        {% elif section.plot %}
          {{ section.plot|safe }}
        {% endif -%}
      </div>
      {% if section.caption %}
        <div class="text-muted text-center mt-1 small">{{ section.caption }}</div>
      {% endif %}
    </section>
  {%- endfor %}
  <script>
    MathJax = {startup: {elements: ['p.equation']}, svg: {scale: 1.2}}
    show_eq = () => document.querySelectorAll('p.equation').forEach(e => e.classList.remove('d-none'))
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js" crossorigin="anonymous" onload="show_eq()">
  </script>

  {%- if bokeh_plot %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
          integrity="sha384-ufR9RFnRs6lniiaFvtJziE0YeidtAgBRH6ux2oUItHw5WTvE1zuk9uzhUU/FJXDp"
          crossorigin="anonymous"></script>
  {% endif %}
{% endblock %}
